.title {
    color: rgb(255, 239, 93);
    background-color: rgb(199, 25, 25);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 50px;
}


.main {
    color: red;
}

